.account-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s;
}

.account {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
    width: 900px;
    height: 610px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
.close-btn { /* Added close button styles */
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: #333;
    transition: all 0.15s ;
}

.close-btn:hover { /* Added hover effect for close button */
    color: brown;
}

.account h1 {
    text-align: center;
    color: brown;
    font-size: 50px;
}

.account-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.data-password-section {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: white ;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    border-radius: 10px;
    width: 360px;
    height: 420px;
    gap: 20px;
}
.data-password-section h2 {
    text-align: center  ;
    color: brown;
}
.username {
    font-size: 18px;
    margin-left: 13px;
}
.data-password-middle-section h3 {
    color: rgb(70, 70, 70);
    margin-bottom: 3px;
}
.data-password-middle-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.data-password-middle-section input {
    height: 36px;
    width: 100%;
    font-size: 16px;
    padding: 0px 12px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(180, 180, 180);
}
.data-password-middle-section input:focus {
    border: 2px solid brown;
}
.data-password-section button {
    width: 50%;
    margin: auto;
    height: 36px;
    border-radius: 18px;
    background-color: brown;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}
.data-password-section button:hover {
    opacity: 0.85;
}
.data-password-section button:active {
    opacity: 0.7;
}
